header {
    background-image: url(../../public/images/newyork.jpg);
    background-position: center center;
    background-size: cover;
    height: 17rem;
}
header .holder {
    background-color: rgba(0,0,2.55,0.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: var(--white);
    padding-bottom: 1rem;
    text-align: center;
}
.logo_bold {
    font-style: italic;
}
header img {
    margin-top: 3rem;
}
